<%= form_for @university do |f| %>
  <%= render '/application/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <div class="submit-button-wrapper">
      <% if @university.id.present? %>
        <%= f.submit 'Edit University', class: 'submit-button' %>
      <% else %>
        <%= f.submit 'Create University', class: 'submit-button' %>
      <% end %>
    </div>
    <div class="cancel-button-wrapper">
      <%= link_to 'Cancel', universities_path, class: 'cancel-button' %>
    </div>
  </div>
<% end %>
