<p><%= notice %></p>

<tbody>
  <h2>Universities</h2>
  <ul>
     <li><strong>ID: </strong><%= @university.id %></li>
     <li><strong>Name: </strong><%= @university.name %></li>
  </ul>
  <%= link_to 'New University', new_university_path(@university.id) %>
  <%= link_to 'Edit', edit_university_path(@university) %> |
  <%= link_to 'Back', universities_path %>
</tbody>
