  <div class="admin-panel">
    <%= link_to "Colleges", '/admin/colleges', class: 'button button--pms-300-c' %>
    <%= link_to "Departments", '/admin/departments', class: 'button button--pms-300-c' %>
    <%= link_to "Faculty", '/admin/faculties', class: 'button button--pms-300-c' %>
    <%= link_to "Users", '/admin/users', class: 'button button--pms-300-c' %>
    <%= link_to "CSV Import", '/admin/faculties/importcsv', class: 'button button--pms-300-c' %>
    <%= link_to "ZIP Import", '/admin/faculties/importzip', class: 'button button--pms-300-c' %>
    <%= link_to 'Stats Dashboard', '/admin/searchstats', class: 'button button--pms-300-c' %>
  </div>
