<fieldset class="award">
  <legend> Award </legend>

  <div class="field half">
    <%= form.label :starting_year, "Starting Year", class: 'required' %>
    <%= form.text_field :starting_year, placeholder:'2018' %>
  </div>

  <div class="field half last">
    <%= form.label :ending_year, "Ending Year", class: 'required' %>
    <%= form.text_field :ending_year, placeholder:'2018' %>
  </div>

  <div class="field full">
    <%= form.label :name, "Name", class: 'required' %>
    <%= form.text_field :description, placeholder:'Most Valuable Player', size: "100x1" %>
  </div>

  <div class="field full">
    <%= form.label :organization, "Organization", class: 'required' %>
    <%= form.text_field :organization, placeholder:'West Virginia University', size: "100x1" %>
  </div>

  <div class="field full">
    <%= form.label :description, "Description", class: 'required' %>
    <%= form.text_area :description, placeholder:'1st Place in underwater basket weaving', size: "100x10" %>
  </div>

  <div class="action">
    <%= form.hidden_field :_destroy %>
    <%# form.label :_destroy, "Delete Address" %>
    <%= link_to '<span class="fas fa-trash-alt"></span>'.html_safe , '#', class: "remove-fields delete-award", title: "Delete Award" %>
  </div>
</fieldset>
