<%= form_for [:admin, faculty], html: { multipart: true } do |f| %>
  <% if faculty.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(faculty.errors.count, "Error") %> </h3>
      <p> The following prohibited this faculty from being saved: </p>
      <ul>
      <% faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend> Profile Information </legend>
    <div class="row">
      <div class="field full">
        <%= f.label :prefix, class:'select-label' %>
        <div class="select-style">
          <%= f.select :prefix, options_for_select(name_prefixes, selected: faculty.prefix ), include_blank: "Select a Prefix" %>
        </div>
      </div>

      <div class="field three-fourth last">
        <%= f.label :first_name, class: 'required' %>
        <%= f.text_field :first_name, placeholder: "Joanna" %>
      </div>

      <div class="field two-fourth last">
        <%= f.label :middle_name, class: 'required' %>
        <%= f.text_field :middle_name, placeholder: "Q. (Quinn)" %>
      </div>

      <div class="field three-fourth">
        <%= f.label :last_name, class: 'required' %>
        <%= f.text_field :last_name, placeholder: "Smith" %>
      </div>

      <div class="field one-fourth last">
        <%= f.label :suffix, class:'select-label' %>
        <div class="select-style">
          <%= f.select :suffix, options_for_select(name_suffixes, selected: faculty.suffix ), include_blank: "Select a Suffix" %>
        </div>
      </div>
  </fieldset>
  
  <fieldset> 
    <legend> File Uploads </legend>
    <div class="field full">
      <%= image_tag faculty.image.small.url, { class:'preview-image' } if faculty.image? %>
      <%= f.label :image, 'Profile Image' %>
      <%= f.file_field :image %>
      <% if faculty.image? %>
        <div class="checkbox-wrapper">
          <div class="checkbox">
            <%= f.check_box :remove_image %>
            <%= f.label :remove_image, 'Remove Image' %>
          </div>
        </div>
      <% end %>
      <%= f.hidden_field :image_cache %>
    </div>

    <div class="field full">
      <% if faculty.resume? %>
        <%= link_to 'View Current CV / Resume', faculty.resume.url, target: :_blank %>
          <div class="checkbox-wrapper">
            <div class="checkbox">
              <%= f.check_box :remove_resume %>
              <%= f.label :remove_resume, 'Remove Resume' %>
            </div>
          </div>
      <% end %>
      <%= f.label :resume, 'CV / Resume Upload' %>
      <%= f.file_field :resume %>
      <%= f.hidden_field :resume_cache %>
    </div>
    
  </fieldset>

  <fieldset>
    <legend> WVU Profile Information </legend>
     <div class="row">
      <div class="field half">
        <%= f.label :wvu_username, class: 'required' %>
        <%= f.text_field :wvu_username, placeholder: "jqsmith001", size: "100x1"  %>
      </div>
      
      <div class="field half last">
        <%= f.label :email, class: 'required' %>
        <%= f.text_field :email, placeholder: "jqsmith001@mail.wvu.edu", size: "100x1"  %>
      </div>      
    </div>
    
    <div class="row"> 
      <div class="field half">
        <%= f.label :title, class: 'required' %>
        <%= f.text_field :title, placeholder: "Accountant EBO", size: "100x1" %>
      </div>

      <div class="field">
        <%= f.label :college_ids, 'Colleges' %>
        <%= f.collection_select :college_id, College.all.visible.order(:name), :id, :name, { include_hidden: false, include_blank: "Select a College" }%>
      </div>

      <div class="field">
        <%= f.label :department_ids, 'Departments' %>
        <%= f.collection_select :department_id, Department.all.visible.order(:name), :id, :name, { include_hidden: false, include_blank: "Select a Department" }%>
      </div>

      <div class="field full">
        <%= f.label :research_interests %>
        <%= f.text_area :research_interests, placeholder: "Scholarly multimedia, digital publishing, editorial pedagogy, multimodal composition, academic literacies, professionalization", size: "100x5" %>
      </div>

      <div class="field full">
        <%= f.label :teaching_interests %>
        <%= f.text_area :teaching_interests, placeholder: "Scholarly multimedia, digital publishing, editorial pedagogy, multimodal composition, academic literacies, professionalization", size: "100x5" %>
      </div>      

      <div class="field half">
        <%= f.label :visible%>
        <%= f.check_box :visible %>
      </div>

      <div class="field full">
        <%= f.label :biography %>
        <%= f.text_area :biography, placeholder: "Basic biography of faculty in simple terms for the public.", size: "100x10" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend> Application Access Information </legend>
    <div class="row">
      <div class="field half">
        <%= f.label :role, 'User Role', class:'required' %>
        <div class="select-style">
            <%= f.select :role, options_for_select(Faculty.roles.keys.to_a, selected: f.object.role), include_blank: "Select a Role" %>
        </div>
      </div>

      <div class="field half last">
       <%= f.label :status, 'User Status', class:'required' %>
        <div class="select-style">
            <%= f.select :status, options_for_select(Faculty.statuses.keys.to_a, selected: f.object.status), include_blank: "Select a Status" %>
        </div>
      </div>
    </div>
  </fieldset>

  <!-- Addresses -->
  <%= f.fields_for :addresses do |form| %>
    <%= render "address", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Address", f, :addresses %>

  <!-- Awards -->
  <%= f.fields_for :awards do |form| %>
    <%= render "award", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Award", f, :awards %>

  <!-- Phones -->
  <%= f.fields_for :phones do |form| %>
    <%= render "phone", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Phones", f, :phones %>

  <!-- Publications -->
  <%= f.fields_for :publications do |form| %>
    <%= render "publication", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Publication", f, :publications %>

  <!-- Websites -->
  <%= f.fields_for :websites do |form| %>
    <%= render "website", form: form %>
  <% end %>
  <%= link_to_add_fields "Add Website", f, :websites %>

  <div class="actions">
    <%= link_to 'Cancel', admin_faculties_path, class: 'cancel-button' %>
    <%= f.submit 'Submit', class: 'submit-button' %>
  </div>
<% end %>
