<% if @errors.any? %>
<div id="error_explanation">
    <h3><%= pluralize(@errors.count, "Error") %> </h3>
    <ul>
    <% @errors.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
</div>
<% end %>

<h2> Import CSV File(s)</h2>
<div>

    <%= form_tag admin_faculties_import_csv_path, multipart: true do %>
        <%= file_field_tag :csv_files, :multiple => true, name: 'csv_files[]', :accept => 'text/csv' %>
        <%= submit_tag "Import CSV File(s)" %>
    <% end %>

</div>

