<div class="top-action">
  <h2> Manage Faculty </h2>
  <%= link_to 'New Faculty', new_admin_faculty_path, { class: 'new-button' } %>
</div>

<% @faculties.each do |faculty| %>
  <div class="crud-list faculty-list">
    <div class="image">
      <img src="<%= faculty.image %>" alt="faculty profile image"/>
    </div>

    <div class="text-attributes">
      <ul>
        <li> 
          <strong> Name: </strong> 
          <%= faculty.display_name %>
        </li>

        <li>
          <strong> Email: </strong>
          <%= faculty.email %>
        </li>

        <li>
          <strong> Role: </strong>
          <%= faculty.role.capitalize %>
        </li>

        <li>
          <strong> Status: </strong>
          <%= faculty.status.capitalize %>
        </li>

      </ul>
    </div>

    <div class="crud-actions">
      <%= link_to raw('<span class="fas fa-user-alt"></span>View'), admin_faculty_path(faculty), { class: 'show-button' } %>
      <%= link_to raw('<span class="fa fa-user-edit"></span> Edit'), edit_admin_faculty_path(faculty), { class: 'edit-button' } %>
      <%= link_to raw('<span class="fas fa-user-times"></span> Delete'), admin_faculty_path(faculty), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New Facuty', new_admin_faculty_path, { class: 'new-button' } %>
</div>