<h2 class="visually-hidden"> <%= content_for :title, "#{@faculty.display_name.titlecase}" %> </h2>

<div class="faculty-card">

    <div class="profile-banner">
      <img src="<%= @faculty.image.small %>" alt="Picture of <%= @faculty.display_name %>"/>
    </div>

    <div class="profile-text">
      <div class="name-title wvu-h4" id="profile_name"> 
        <%= link_to @faculty.display_name, directory_show_path(@faculty.id) %>
      </div>

      <div class="title">
        <% unless @faculty.title.nil? || @faculty.title.empty? %>
          <div class="micro"> <%= @faculty.title %> </div>
        <% end %>
      </div>
      
      <div class="college">
        <% unless @faculty.college.nil? || @faculty.college.empty? %>
          <div class="micro"> <%= @faculty.college %> </div>
        <% end %>
      </div>      

      <% if @faculty.biography.present? %>
      <div class="biography">
        <p> <%= @faculty.biography %> </p>
      </div>
      <% end %>

      <h4> Contact </h4>
      <div class="contact">
        <% if hasaddresses?(@faculty) %>
        <div class="addresses">  
          <% @faculty.addresses.each do |addrress| %>
            <div class="address-item">
              <span class="fas fa-address-card"></span>
              <%= address.human_readable %>
            </div>
          <% end %>
        </div>
        <% end %>

        <% if hasphones?(@faculty) %>
        <div class="phones">  
          <% @faculty.phones.each do |phone| %>
            <div class="phone-item">
              <span class="<%= phone_icon_class(phone) %>"></span>
              <a class="wvu-profiles-index__phone" href="tel:<%= phone.number %>"><%= phone.number %></a>
              <span class="micro"> (<%= phone.number_types.capitalize %>) </span>
            </div>
          <% end %>
        </div>
        <% end %>
        
        <% if hasawards?(@faculty) %>
          <div name='awards'>
            <h4>Award(s):</h4>
            <% @faculty_profile.awards.each do |award| %>
                <%= award.description %>
            <% end %>
          </div>
        <% end %>
        
        <% if haspublications?(@faculty) %>
          <div class='publications'>
            <h4>Publications(s):</h4>
            <% @faculty.publications.each do |publication| %>
                <%= publication.description %>
            <% end %>
          </div>
        <% end %>

        <% if haswebsites?(@faculty) %>
          <div class='websites'>
            <h4>website(s):</h4>
            <% @faculty.websites.each do |website| %>
                <a href="<%= website.url %>">
                  <%= website.url %>
                </a>
            <% end %>
          </div>
        <% end %>

        <div class="email">
          <span class="fas fa-envelope"></span>
          <a href="mailto:<%= @faculty.email %>">
            <%= @faculty.email %>
          </a>
        </div>
      </div>

    </div>

</div>