<!-- Admin Menu -->
<menu id="menu">
  <ul>
    <li><%= link_to "Admin Main", '/admin' %></li>
    <li><%= link_to "Browse the Users", '/admin/users' %></li>
    <li><%= link_to 'New User', new_admin_user_path %></li>
    <li><%= link_to "Browse the Universities", '/admin/universities' %></li>
    <li><%= link_to 'New University', new_admin_university_path %></li>    
  </ul>
</Menu>
