<!-- Admin Menu -->
<menu id="menu">
  <ul>
    <li><%= link_to "Admin Main", '/admin' %></li>
    <li><%= link_to "Browse the Colleges", '/admin/colleges' %></li>
    <li><%= link_to "Browse the Departments", '/admin/departments' %></li>
    <li><%= link_to "Browse the Faculty", '/admin/faculties' %></li>
    <li><%= link_to "Import Faculty", '/admin/faculties/import' %></li>
    <li><%= link_to "Browse the Users", '/admin/users' %></li>
    <li><%= link_to 'New College', new_admin_college_path %></li>
    <li><%= link_to 'New Department', new_admin_department_path %></li>
    <li><%= link_to 'New Faculty', new_admin_faculty_path %></li>
    <li><%= link_to 'New User', new_admin_user_path %></li>
    <li><%= link_to 'Search Stats', '/admin/searchstats' %></li>
  </ul>
</Menu>
