<!-- Header -->
<header class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo header-logo" href="/">
      <span class="wvu-masthead__title"> LIBRARIES </span>
    </a>
    <div class="links-container">
      <ul>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "About", 'https://lib.wvu.edu/about/' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "Collections", 'https://lib.wvu.edu/collections/' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "Instruction", 'https://lib.wvu.edu/instruction' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "News", 'https://lib.wvu.edu/about/news/' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "Services", 'https://lib.wvu.edu/services/' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "Contact", 'https://lib.wvu.edu/about/contactus/' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "Give", 'https://lib.wvu.edu/about/giving/' %></li>
        <li class="wvu-masthead__libraries-links-item"><%= link_to "Library Home", 'https://lib.wvu.edu/' %></li>
      </ul>
    </div>
  </div>
</header>
