<div id="dynamic-child-form">
  <%= address.text_field :street_address_1 %>
  <%= address.text_field :street_address_2 %>
  <%= address.text_field :city %>
  <%= address.text_field :state %>
  <%= address.text_field :zip_code %>
</div>
