<div class="wrap content-wrapper">
      <%= form_for @user, :url => optional_items_path, :html => {:method => :post} do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div id="website-fields">
           <%= f.label 'website(s)' %>
           <%= f.fields_for :websites do |website| %>
             <%= render partial: 'website', locals: {user_id: @user.id, count: website.options[:child_index], current_items: @user.websites.count, website: website} %>
           <% end %>
        </div>

        <%= f.submit class: "btn btn-primary" %>
      <% end %>

    </div>
</div>
