<%= form_for [:admin, user], html: { multipart: true } do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(user.errors.count, "Error") %> </h3>
      <p> The following prohibited this user from being saved: </p>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend> Profile Information </legend>
    <div class="row">
      <div class="field one-fourth">
        <%= f.label :prefix, class:'select-label' %>
        <div class="select-style">
          <%= f.select :prefix, options_for_select(name_prefixes, selected: user.prefix ), include_blank: "Select a Prefix" %>
        </div>
      </div>

      <div class="field three-fourth last">
        <%= f.label :first_name, class: 'required' %>
        <%= f.text_field :first_name, placeholder: "Joanna" %>
      </div>

      <div class="field two-fourth last">
        <%= f.label :middle_name, class: 'required' %>
        <%= f.text_field :middle_name, placeholder: "Q. (Quinn)" %>
      </div>

      <div class="field three-fourth">
        <%= f.label :last_name, class: 'required' %>
        <%= f.text_field :last_name, placeholder: "Smith" %>
      </div>

      <div class="field one-fourth last">
        <%= f.label :suffix, class:'select-label' %>
        <div class="select-style">
          <%= f.select :suffix, options_for_select(name_suffixes, selected: user.suffix ), include_blank: "Select a Suffix" %>
        </div>
      </div>
      
      <div class="field one-fourth last">
        <%= f.label :email, class:'select-label' %>
        <div class="select-style">
          <%= f.text_field :email, placeholder: "username@mail.wvu.edu" %>
        </div>
      </div>      
      
      <div class="field">
        <%= f.label :visible, 'Show User Profile', class:'required' %>
        <%= f.check_box :visible %>
      </div>

    </div>

  </fieldset>

  <fieldset>
    <legend> WVU Profile Information </legend>
     <div class="row">
      <div class="field half">
        <%= f.label :wvu_username, class: 'required' %>
        <%= f.text_field :wvu_username, placeholder: "jqsmith001" %>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend> Application Access Information </legend>
    <div class="row">
      <div class="field half">
        <%= f.label :role, 'User Role', class:'required' %>
        <div class="select-style">
            <%= f.select :role, options_for_select(User.roles.keys.to_a, selected: f.object.role), include_blank: "Select a Role" %>
        </div>
      </div>

      <div class="field half last">
       <%= f.label :status, 'User Status', class:'required' %>
        <div class="select-style">
            <%= f.select :status, options_for_select(User.statuses.keys.to_a, selected: f.object.status), include_blank: "Select a Status" %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= link_to 'Cancel', admin_users_path, class: 'cancel-button' %>
    <%= f.submit 'Submit', class: 'submit-button' %>
  </div>
<% end %>
