<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select(:status, User.statuses.keys.map {|status| [status.titleize,status]}) %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div>

  <div class="field">
    <%= f.label :visible %>
    <%= f.check_box :visible %>
  </div>

  <%= f.fields_for :imageable do |image_upload| %>
    <%= image_upload.file_field :image, class: "form-control"  %>
  <% end %>

  <%= fields_for :profile, @user.profile do |profile_fields| %>
    <div class="field">
      <%= profile_fields.label :title %>
      <%= profile_fields.text_field :title %>
    </div>

    <div class="field">
      <%= profile_fields.label :department %>
      <%= profile_fields.text_field :department %>
    </div>

    <div class="field">
      <%= profile_fields.label :biography %>
      <%= profile_fields.text_field :biography %>
    </div>

    <div class="field">
      <%= profile_fields.label :research_interests %>
      <%= profile_fields.text_field :research_interests %>
    </div>

  <% end %>

  <div class="actions">
    <div class="submit-button-wrapper">
      <% if user.id.present? %>
        <%= f.submit 'Edit User', class: 'submit-button' %>
      <% else %>
        <%= f.submit 'Create User', class: 'submit-button' %>
      <% end %>
    </div>
    <div class="cancel-button-wrapper">
      <%= link_to 'Cancel', users_path, class: 'cancel-button' %>
    </div>
  </div>
<% end %>
