<%= form_for(user) do |f| %>
  <%= render '/application/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select(:status, User.statuses.keys.map {|status| [status.titleize,status]}) %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
  </div>

  <div class="field">
    <%= f.label :visible %>
    <%= f.check_box :visible %>
  </div>

  <div class="actions">
    <div class="submit-button-wrapper">
      <% if user.id.present? %>
        <%= f.submit 'Edit User', class: 'submit-button' %>
      <% else %>
        <%= f.submit 'Create User', class: 'submit-button' %>
      <% end %>
    </div>
    <div class="cancel-button-wrapper">
      <%= link_to 'Cancel', users_path, class: 'cancel-button' %>
    </div>
  </div>
<% end %>
