<h2>User's</h2>

<tbody>

  <table>
    <thead>
      <tr>
        <th>WVU Username</th>
        <th>Last name</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Status</th>
        <th>Role</th>
        <th>Visible</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.wvu_username %></td>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.middle_name %></td>
          <td><%= user.status %></td>
          <td><%= user.role %></td>
          <td><%= user.visible %></td>
          <td><%= user.email %></td>          
          <td><%= link_to 'Show', admin_user_path(user) %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
          <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</tbody>
