<div class="top-action">
  <h2> Manage User(s) </h2>
  <%= link_to 'New User', new_admin_user_path, { class: 'new-button' } %>
</div>

<% @users.each do |user| %>
  <div class="crud-list user-list">

    <div class="text-attributes">
      <ul>
        <li> 
          <strong> Name: </strong> 
          <%= user.display_name %>
        </li>

        <li>
          <strong> Email: </strong>
          <%= user.email %>
        </li>

        <li>
          <strong> Role: </strong>
          <%= user.role.capitalize %>
        </li>

        <li>
          <strong> Status: </strong>
          <%= user.status.capitalize %>
        </li>

      </ul>
    </div>

    <div class="crud-actions">
      <%= link_to raw('<span class="fas fa-user-alt"></span>View'), admin_user_path(user), { class: 'show-button' } %>
      <%= link_to raw('<span class="fa fa-user-edit"></span> Edit'), edit_admin_user_path(user), { class: 'edit-button' } %>
      <%= link_to raw('<span class="fas fa-user-times"></span> Delete'), admin_user_path(user), method: :delete, class: 'delete-button', data: { confirm: 'Are you sure?' }, title:'delete' %>
    </div>
  </div>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New User', new_admin_user_path, { class: 'new-button' } %>
</div>