<div id="content" class="wvu-main-content">

  <div class="wrap content-wrapper">

    <div id="sidecontent" class="col-4 col-s-12 side-content-left">
         <h3>Admin Navigation</h3>
    </div>

    <div class="col-8 sol-s-12 wvu-main-content-right">
      <tbody>
        <h2>User Profile</h2>
        <ul>
           <li><strong>Username: </strong><%= @user.username %></li>
           <li><strong>Full Name: </strong><%= @user.name %></li>
           <li><strong>Last Name: </strong><%= @user.last_name %></li>
           <li><strong>First Name: </strong><%= @user.first_name %></li>
           <li><strong>Middle Name: </strong><%= @user.middle_name %></li>
           <li><strong>Status: </strong><%= @user.status %></li>
           <li><strong>Role: </strong><%= @user.role %></li>
           <li><strong>Visible: </strong><%= @user.visible %></li>
        </ul>
        <%= link_to 'New Email Address', new_email_address_path(@user) %>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </tbody>
    </div>
  </div>
</div>
