<div class="wvu-main-content">

  <div class="wrap content-wrapper">

    <div id="sidecontent" class="col-4 col-s-12 side-content-left">
         <h3>Admin Navigation</h3>
    </div>

    <div class="col-8 sol-s-12 wvu-main-content-right">
      <tbody>
        <h2>User Profile</h2>
        <div>
          <% if haspicture?(@user) %>
            <%= image_tag @user.picture.image.url(:medium) %>
          <% end %>
        </div>

        <ul>
           <li><strong>Username: </strong><%= @user.username %></li>
           <li><strong>Full Name: </strong><%= @user.name %></li>
           <li><strong>Last Name: </strong><%= @user.last_name %></li>
           <li><strong>First Name: </strong><%= @user.first_name %></li>
           <li><strong>Middle Name: </strong><%= @user.middle_name %></li>
           <li><strong>Status: </strong><%= @user.status %></li>
           <li><strong>Role: </strong><%= @user.role %></li>
           <li><strong>Visible: </strong><%= @user.visible %></li>
        </ul>

        <% if @email_addresses != nil && @email_addresses.count > 0 %>
          <h3>Email Addresses</h3>
            <% @email_addresses.each do |email_address| %>
              <ul>
                <li><%= email_address.email %></li>
              </ul>
          <% end %>
        <% end %>

        <% if @addresses != nil && @addresses.count > 0 %>
          <h3>Addresses</h3>
          <% @addresses.each do |address| %>
            <ul>
               <li><strong>Street Address 1: </strong><%= address.street_address_1 %></li>
               <li><strong>Street Address 2: </strong><%= address.street_address_2 %></li>
               <li><strong>City: </strong><%= address.city %></li>
               <li><strong>State: </strong><%= address.state %></li>
               <li><strong>Zip Code: </strong><%= address.zip_code %></li>
            </ul>
          <% end %>
        <% end %>

        <%= link_to 'New Email Address', new_email_address_path(user_id: @user.id) %>
        <%= link_to 'Edit Optional Items', edit_optional_items_path(user_id: @user.id) %>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= link_to 'Back', users_path %>
      </tbody>
    </div>
  </div>
</div>
