<%= form_for(email_address) do |f| %>
  <%= render '/application/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <div class="submit-button-wrapper">
      <% if email_address.id.present? %>
        <%= f.submit 'Edit Email Address', class: 'submit-button' %>
      <% else %>
        <%= f.submit 'Create Email Address', class: 'submit-button' %>
      <% end %>
    </div>
    <div class="cancel-button-wrapper">
      <%= link_to 'Cancel', users_path, class: 'cancel-button' %>
    </div>
  </div>
<% end %>
