<div class="wvu-main-content">

  <div class="wrap content-wrapper">

    <div id="sidecontent" class="col-4 col-s-12 side-content-left">
         <h3>Admin Navigation</h3>
    </div>

    <div class="col-8 sol-s-12 wvu-main-content-right">
      <tbody>
        <h1>Users Email Addresses</h1>
        <table>
          <thead>
            <tr>
              <th>User ID</th>
              <th>Email</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @email_addresses.each do |email_address| %>
              <tr>
                <td><%= email_address.user_id %></td>
                <td><%= email_address.email %></td>
                <td><%= link_to 'Show', email_address %></td>
                <td><%= link_to 'Edit', edit_email_address_path(email_address) %></td>
                <td><%= link_to 'Destroy', email_address,
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </tbody>
    </div>
  </div>
</div>
