<!DOCTYPE html>
<html>
  <head>
    <title> TLC Directory :: WVU Libraries <%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>
  <body>

    <div id="header">
      <%= render(:partial => 'shared/wvu_admin_header') %>
    </div>

    <main id="main">

      <div id="navigation">
        <%= render(:partial => 'shared/admin_navigation') %>
      </div>

      <div id="title-banner">
        <%= render(:partial => 'shared/admin_banner') %>
      </div>

      <div class="wvu-container">
        <%= yield %>
      </div>
      <div class="clear"></div>

    </main>

    <div id="footer">
      <%= render(:partial => 'shared/admin_footer') %>
    </div>

  </body>
</html>
