<!DOCTYPE html>
<html>

<head>
  <title> <%= yield :title %> :: Library TLC Directory :: Admin Panel :: WVU </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :head %>
</head>

<body>
  <!-- Header -->
  <%= render(:partial => 'shared/admin_header') %>

  <!-- Navigation -->
  <%= render(:partial => 'shared/navigation') %>

  <!-- Main Banner -->
  <%= render(:partial => 'shared/admin_banner') %>

  <!-- Main -->
  <main id="main" class="backend">
    <div class="wvu-container">

  <!-- Flash -->
    <%= render "utilities/alerts" %>

  <!-- Yield -->

  <!-- Admin Menu -->
      <div class="admin-main">
        <%= link_to "Admin Main", '/admin', class: 'button button--wvu-blue-fill' %>
      </div>
        <%= yield %>
      </div>
  </main>

  <!-- Footers -->
  <%= render(:partial => 'shared/builtby_footer') %>

  <!-- JavaScripts -->
  <%= yield :js %>
</body>
</html>
