<!DOCTYPE html>
<html>

<head>
  <title> <%= yield :title %> :: Library TLC Directory :: Admin Panel :: WVU </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :head %>
</head>

<body>
  <!-- Skip to Navigation -->
  <a class="wvu-skip-nav" href="#main">Skip to main content</a>

  <!-- Header -->
  <%= render(:partial => 'shared/header') %>

  <!-- Navigation -->
  <%= render(:partial => 'shared/navigation') %>

  <!-- Main Banner -->
  <%= render(:partial => 'shared/admin_banner') %>

  <!-- Main -->
  <main id="main" class="backend">
    <div class="wvu-container">
      <!-- Flash -->
      <%= render "utilities/alerts" %>

      <!-- Admin Menu -->
      <%= render(:partial => 'shared/admin_navigation') %>

      <!-- Yield -->
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </main>

  <!-- Footers -->
  <%= render(:partial => 'shared/builtby_footer') %>

  <!-- JavaScripts -->
  <%= yield :js %>
</body>
</html>
