<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title('TLC Directory') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Skip to Navigation -->
    <a class="wvu-skip-nav" href="#main">Skip to main content</a>

    <%= render(:partial => 'shared/header') %>
    <%= render(:partial => 'shared/navigation') %>
    <%= render(:partial => 'shared/admin_banner') %>

    <!-- Main -->
    <main id="main" class="backend">
      <div class="wvu-container">
        <!-- Flash -->
        <%= render "utilities/alerts" %>

        <%= render(:partial => 'shared/admin_navigation') %>

        <!-- Yield -->
        <div class="main-content">
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render(:partial => 'shared/builtby_footer') %>

    <!-- JavaScripts -->
    <%= yield :js %>

  </body>
</html>
