<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield :title %> :: Library TLC Directory :: WVU </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <!-- Header -->
    <%= render(:partial => 'shared/wvu_header') %>

    <!-- Navigation -->
    <%= render(:partial => 'shared/navigation') %>

    <!-- Main Banner -->
    <%= render(:partial => 'shared/public_banner') %>

    <!-- Main -->
    <div id="main-container" class="home-container container">
        
        <!-- Flash -->
        <%= render "utilities/alerts" %>
        
        <div class="col-container">
          <!-- Yield -->
          <%= yield %>
        </div>

    </div>

    <!-- Footers -->
    <%= render(:partial => 'shared/footer') %>

    <!-- JavaScripts -->
    <%= yield :js %>
  </body>
</html>
