<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield :title %> :: TLC Directory :: WVU </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <!-- Header -->
    <%= render(:partial => 'shared/header') %>

    <!-- Navigation -->
    <%= render(:partial => 'shared/navigation') %>

    <!-- Main Banner -->
    <%= render(:partial => 'shared/public_banner') %>

    <!-- Main -->
    <main id="main" class="frontend">
      <div class="wvu-container"> 
        <!-- Flash -->
        <%= render "utilities/alerts" %>
        
        <!-- Yield -->
        <div class="app-main-content">
          <%= yield %>
        </div>
      </div>
    </main>

    <!-- Footers -->
    <%= render(:partial => 'shared/footer') %>

    <!-- JavaScripts -->
    <%= yield :js %>
  </body>
</html>
