<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title('Directory | Scholarship of Teaching & Learning') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <%= render(:partial => 'shared/header') %>
    <%= render(:partial => 'shared/navigation') %>
    <%= render(:partial => 'shared/directory_banner') %>
    
    <!-- Main -->
    <main id="main" class="frontend">
      <div class="wvu-container"> 
        <!-- Flash -->
        <%= render "utilities/alerts" %>
        
        <!-- Yield -->
        <div class="app-main-content">
          <%= yield %>
        </div>
      </div>
    </main>
    
    <%= render(:partial => 'shared/footer') %>
      
  </body>

</html>
