<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title('Directory | Scholarship of Teaching & Learning') %></title>
    <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render(:partial => 'shared/wvu_header') %>
    <%= render(:partial => 'shared/navigation') %>
    <%= render(:partial => 'shared/directory_banner') %>

    <!-- Main -->
    <div id="main-container" class="home-container container">
        
        <!-- Flash -->
        <%= render "utilities/alerts" %>
        
        <div class="col-container">
          <!-- Yield -->
          <%= yield %>
        </div>

    </div>
    
    <%= render(:partial => 'shared/footer') %>
      
  </body>

</html>
