<!DOCTYPE html>
<html>
  <head>
    <title>DIRECTORY FOR THE SCHOLARSHIP OF TEACHING & LEARNING<%= " | #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>

    <div id="header">
      <%= render(:partial => 'layouts/header') %>
    </div>

    <main id="main">

      <div id="navigation">
        <%= render(:partial => 'layouts/navigation') %>
      </div>

      <div class="wvu-container">
        <%= yield %>
      </div>
      <div class="clear"></div>

    </main>

    <div id="footer">
      <%= render(:partial => 'layouts/footer') %>
    </div>

  </body>
</html>
